
# /Electric3D/
/Electric3D/build

# /Electric3D/Electric3D.xcodeproj/
/Electric3D/Electric3D.xcodeproj/bertmcdowell.pbxuser
/Electric3D/Electric3D.xcodeproj/bertmcdowell.mode1v3
/Electric3D/Electric3D.xcodeproj/colombod.mode1v3
/Electric3D/Electric3D.xcodeproj/colombod.pbxuser
